# MkDocs
site/
.cache/

# macOS
.DS_Store

# Editor
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
